body {
    font-family: 'Roboto', sans-serif;
}


/* navbar */

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 5px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: #ff6612;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.explore-themes {
    padding: 40px 0;
    margin-top: 60px;
}

.explore-themes h2 {
    color: rgb(52, 52, 52);
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 7.5%;
}

.theme-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.theme-card {
    padding: 40px;
    margin: 0px 10px;
    width: 90px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    /* Add the transition for the hover effect */
}

.theme-card:hover {
    transform: translateY(-6px);
    /* Move the card 10px upward on hover */
}

.theme-card img {
    display: block;
    margin: auto;
    width: auto;
    max-height: 80px;
    object-fit: cover;
    transition: transform 0.5s ease;
    /* Add the transition for the hover effect */
}

.theme-card:hover img {
    transform: translateY(-10px);
}

.theme-card p {
    padding: 10px;
    background-color: #fff;
    font-size: 13px;
    font-weight: bold;
}

/* hero */

.im {
    width: 250px;
    margin-left: -40px;
    margin-top: 10px;
    border-radius: 3px;
}

.part {
    display: flex;
    margin-bottom: -3%;
}

#div1 {
    width: 27%;
}

#div2 {
    width: 73%;
    padding: 30px 100px 0px 100px;
    margin-left: 30px;
}

#div2 p {
    margin: 15px 0px 0px 10px;
}

.sub p {
    font-size: 17px;
    color: #3e3f54;
    font-weight: 600;
}

.sub span {
    font-size: 13px;
    color: #787878;
    margin: 15px 0px 0px 10px;
}

#f {
    font-size: 65px;
    line-height: 85px;
    box-sizing: border-box;
    color: rgb(72, 72, 72);
}

#sp {
    color: #ff6612;
}

.sub {
    font-size: 115%;
    width: 33%;
    height: 33%;
    padding: 17px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);
    margin: 25px;
    transition: transform 0.3s ease;
}

.sub:hover {
    transform: scale(1.03);
}

/*----------- slider 3 ------------ */

.slideshow {
    position: relative;
    z-index: 1;
    height: 100%;
    max-width: 1290px;
    margin: -30px auto;
}

.slideshow * {
    outline: none;
    border-radius: 3px;
}

.slideshow .slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.slideshow .item {
    position: relative;
    z-index: 1;
}

.slideshow .item img {
    width: 100%;
    height: 340px;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale(1.2);
    object-fit: fill;
}

.slideshow .item.slick-active img {
    transform: scale(1);
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    color: orangered;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.59);
    border-radius: 50%;
    z-index: 1;
    border: 0px;
}

.slick-prev::before,
.slick-next::before {
    content: '\2190';
    font-size: 20px;
    line-height: 40px;
}

.slick-next::before {
    content: '\2192';
}

.slick-prev {
    left: -25px;
}

.slick-next {
    right: -25px;
}



/* to the top */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Luxury part */

.experience-main {
    margin: 20px 0 0 120px;
}

.experience-row {
    display: flex;
    flex: 0 0 20%;
    padding: 0 20px;
    box-sizing: border-box;
}

.heading-h2 {
    margin-bottom: 30px;
    color: rgb(52, 52, 52);
}

.experience-row {
    box-sizing: border-box;
}

.experience-box {
    box-sizing: border-box;
}

.experince-area {
    transition: box-shadow .3s ease-in-out;
    position: relative;
    transform: scale(1);
}

.experince-area img {
    border-radius: 3px;
    height: 100%;
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 53, 53, 0.525);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease;
    opacity: 0;
}

.experince-details-lux {
    font-family: 'Dancing Script';
    box-sizing: border-box;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9;
}

.experince-details-lux h3 {
    text-align: center;
    box-sizing: border-box;
    font-size: 31px;
    line-height: 39px;
    font-family: 'Dancing Script', "sans-serif";
    color: #fff;
    font-weight: 400;
    text-shadow: 2px 1px 2px #38404f;
}

.experince-details-lux h4 {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    font-family: "sans-serif";
    color: #fff;
    text-shadow: 2px 1px 2px #38404f;
}

figcaption a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 5px 10px;
}

figcaption a:hover {
    background-color: #ff6612;
    border: 0;
}

.experience-box:hover figcaption {
    opacity: 1;
}


/* overview */

.part1 {
    display: flex;
    margin-top: 80px;
    background-color: rgba(226, 226, 226, 0.29);
}

#div11 {
    width: 40%;
}

#div12 {
    width: 55%;
}

#div11 img {
    width: 450px;
    height: 600px;
    margin-left: 120px;
    margin-top: -40px;
}

.para {
    margin-top: 30px;
}

.p {
    display: flex;

}

#d2 a {
    font-weight: 600;
    margin-left: 140px;
    color: #ff6612;
    font-family: Arial, Helvetica, sans-serif;
}

#d1 {
    width: 50%;
    margin: 40px;
    margin-top: 25px;
}

#d2 {
    width: 50%;
    margin: 40px;
    margin-top: 70PX;
}

#div12 h4 {
    color: #ff6612;
    font-family: Arial, Helvetica, sans-serif;
}

#div12 h1 {
    margin-top: 10px;
    color: rgba(100, 100, 100);
    font-family: Arial, Helvetica, sans-serif;
}

#div12 p {
    font-family: Arial, Helvetica, sans-serif;
}

#ql {
    margin-top: 20px;
    background-color: #ff6612;
    padding: 30px;
    border-radius: 5px;
    color: white;
}

/* Footer */

footer {
    background-color: rgb(101, 102, 103);

    width: 100vw;
    height: 90vh;

}

.footer_container {
    color: rgb(244, 239, 239);

    margin: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    padding-top: 50px;
}

.footer_main {
    line-height: 40px;
    font-size: 25px;
    font-weight: 600;
}

.footer_content {
    font-size: 15px;
    line-height: 24px;
}

.footer_hr {
    margin: 80px;
}

.footer_last_content {
    margin: 100px;
    margin-top: 0%;
}

.footer_logo {
    background-image: url(footer-logo.png);
    width: 40px;
    height: 47px;
}

.footer_last_content {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}

.footer_hr2 {
    margin-left: 80px;
    margin-right: 80px;
}

.footer_logo_content {
    font-size: 10px;
    line-height: 40px;
}

.noida {
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.infofooter {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.noidainfo {
    position: relative;
    top: 20px;
    left: -10px;
}

.footer_contactno {
    display: flex;
    width: 300px;
    justify-content: space-between;
    position: relative;
    top: 20px;
}
