footer{
    background-color: rgb(101, 102, 103);
    
    width: 100vw;
    height: 90vh;
    
}

.footer_container{
    color: rgb(244, 239, 239);
    
    margin: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    padding-top: 50px;
}

.footer_main{
    line-height: 40px;
    font-size: 25px;
    font-weight: 600;
}

.footer_content{
    font-size: 15px;
    line-height: 24px;
}

.footer_hr{
    margin: 80px;
}

.footer_last_content{
    margin: 100px;
    margin-top: 0%;
}
.footer_logo{
    background-image: url(footer-logo.png);
    width: 40px;
    height: 47px;
}
.footer_last_content{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}
.footer_hr2{
    margin-left: 80px;
    margin-right: 80px;
}

.footer_logo_content{
    font-size: 10px;
    line-height: 40px;
}

.noida{
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.infofooter{
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}
.noidainfo{
    position: relative;
    top: 20px;
    left: -10px;
}

.footer_contactno{
    display: flex;
    width: 300px;
    justify-content: space-between;
    position: relative;
    top: 20px;
}

